<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Terra.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DXF_to_MESH.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Terra.My.MySettings>
            <setting name="pic_path" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="texture_win_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="texture_win_client_size" serializeAs="String">
                <value>783, 381</value>
            </setting>
            <setting name="txt_path" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="server_address" serializeAs="String">
                <value>192.168.24.106</value>
            </setting>
            <setting name="brightness" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="vr_700" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vr_400" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vr_900" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vr_1200" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enable_fog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_extra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txt_256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="my_wan_ip" serializeAs="String">
                <value>192.168.24.100</value>
            </setting>
            <setting name="dispatch_port" serializeAs="String">
                <value>1953</value>
            </setting>
            <setting name="save_pw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value>Terry Bosio</value>
            </setting>
            <setting name="game_port" serializeAs="String">
                <value>1956</value>
            </setting>
            <setting name="lod0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chat_local" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ambient_level" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="model_level" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="tree_level" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="minimap_size" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="icon_scale" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="low_q_trees" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="s_terrian_texture_level" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="s_terrain_ambient_level" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="s_fog_level" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="s_model_level" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="lidgren_pw" serializeAs="String">
                <value>dec7th_1941</value>
            </setting>
            <setting name="game_path" serializeAs="String">
                <value>C:\games\World_of_Tanks\</value>
            </setting>
            <setting name="m_show_tank_names" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="m_show_tank_comments" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="hi_rez_terra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="m_bumpMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="m_bump_map_models" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="s_gamma" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="m_show_uv2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="s_gray_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m_show_decals" serializeAs="String">
                <value>True</value>
            </setting>
        </Terra.My.MySettings>
        <DXF_to_MESH.My.MySettings>
            <setting name="pic_path" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="texture_win_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="texture_win_client_size" serializeAs="String">
                <value>783, 381</value>
            </setting>
            <setting name="txt_path" serializeAs="String">
                <value>c:\</value>
            </setting>
        </DXF_to_MESH.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
